<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Picture</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Id</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersList; let i=index">
    <th scope="row">{{i}}</th>
    <td>{{user.name.first}} {{user.name.last}}</td>
    <td><img src="{{user.picture.thumbnail}}" alt="no picture present"></td>
    <td>{{user.dob.date | date }}</td>
    <td>{{user.id.value}}</td>
    <td></td>
    <td>
      <a class="btn btn-primary" [href]="'profile/'+user.id.value">View Profile</a>
    </td>
  </tr>
  </tbody>
</table>
<!--<a href="#" *ngIf="end < usersList.length" (click)="end = usersList.length;$event.preventDefault()">Show more</a>-->
<button class="condition" appScroll>Scroll to Top</button>
<!--<p>{{'NNN' | exchange}}</p>-->
<!--<p>{{'754254675.56798' | currency : 'EUR' : 'code' : '1.2-4' }}</p>-->
