<div>This is Shopping Cart!</div>
<ul>
  <li *ngFor="let item of cartArr; let i = index">{{item.title}} - {{item.price}}
    <a class="btn btn-primary" [href]="'checkout/'+i">Checkout</a>
  </li>
</ul>
<div>
  <label for="ccNumber">Credit Card Number</label>
  <input id="ccNumber" name="ccNumber" type="number" (keyup)="ccNumber = $event.target['value']">
</div>
<div>{{ccNumber | ccFormat}}</div>

<div>
  <label for="phoneNumber">Phone Number</label>
  <input id="phoneNumber" name="phoneNumber" type="text" (keyup)="$event.target['value'] = validateCard($event.target['value'])">
</div>

<input type="number" (keyup)="phoneNumber = $event.target['value']">
{{phoneNumber | parseNumber}}
